<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mteamproject">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MTeamProject">
        <activity android:name=".login.ArtistEnroll"></activity>
        <activity android:name=".ArtDetail" />
        <activity android:name=".login.ArtistProduct" />
        <activity android:name=".login.ProductTest" />
        <activity android:name=".login.ArtistPage" />
        <activity android:name=".login.ArtistList" />
        <activity android:name=".login.asdActivity" />
        <activity android:name=".login.UserSignUp" />
        <activity android:name=".login.UserLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mypage.MyPageActivity" />
        <activity android:name=".ShowArtListActivity" />
        <activity android:name=".main.MainActivity" />
        <activity android:name=".enroll.EnrollPage" />
    </application>

</manifest>